
<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> !</h1>
  </div>
 
  <div class="box">
      <!-- <li>  <%= newListItems %> </li> -->

     <% newListItems.forEach((item) =>{ %>
      <form action="delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value ="<%= item.id%>" onchange="this.form.submit()">
          <div style="width: 300px;"><p> <%= item.name  %> </p></div>
          <div style="width: 300px;"><p><%= item.date.toLocaleDateString("en-US",{weekday: "long", day: "numeric", month:"long"})  %></p></div>
          <button type="button" value ="<%= item.id%>" class="editButon">Edit</button>
        </div>
      </form>
      <% }) %>


      <div class="modal">
        <form action="edit" method="post">
          <input type="text" id="editName" name="editItemText" placeholder="">
          <input type="text" onfocus="this.type = 'date'" class="newItem" name="editItemDate" id="editDate" placeholder="Type Date" required>
          <br>
          <button type="button" class="editButon" id="cancelEdit">Cancel</button>
          <button type="submit" class="editButon" name="saveId" value="" id="saveEdit">Save</button>
        </form>
      </div>

      <form action="/" method="post" class = "item">

        <input type="text" name="newItem" class="newItem" placeholder="New Item" autocomplete="off">
        <input type="date" name="dueDate" class="newItem">
        <button type="submit" name="list" value= <%= listTitle %>>+</button>
    
      </form>
  </div>
  <script src="app.js"></script>
  <%- include("footer") -%>

